.home {
  position: absolute;
  top: 50%;
  left: 320px;
  transform: translateX(-50%);

  .title {
    color: #f7f7f7;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.66;
    margin-bottom: 16px;
  }

  .text {
    color: #f7f7f7;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 40px;
  }

  .button {
    display: flex;
    padding: 16px 60px;
    width: 173px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 200px;
    background: #e44848;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.08px;
  }
}
