.main {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/picture.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
  position: relative;
}
